.btn-primary,
.btn-secondary {
    font-family: "Montserrat", sans-serif;
    border-radius: 12px;

    padding: 0 3rem;
    font-size: 1.8rem;
    line-height: 4.5rem;
    font-weight: 500;
}

.btn-primary {
    background-color: $brand-green-light;
    font-weight: 500;
    color: $brand-black;
    transition: background-color 0.3s;
    color: $white;

    &:hover {
        background-color: $brand-green;
    }
}

.btn-secondary {
    background-color: rgba(0, 0, 0, 0);
    color: #607d8b;
    transition: background-color 0.5s;
    font-family: "Nunito", sans-serif;
    border: 1px solid $brand-green-light;

    &:hover {
        background-color: $brand-green-light;
        color: $white;
    }
}

@include responsive(600px) {
    .btn-primary {
        line-height: 0.8rem;
        height: 45px;
        padding: 0 2rem;
        font-size: 1.5rem;
    }
}
