.btn-primary,
.btn-secondary {
    font-family: "Montserrat", sans-serif;
    border-radius: 12px;

    padding: 0 3rem;
    font-size: 1.8rem;
    line-height: 4.5rem;
    font-weight: 500;
}

.btn-primary {
    background-color: $brand-green-light;
    font-weight: 500;
    color: $brand-black;
    transition: background-color 0.3s;
    color: $white;
    &:hover {
        background-color: $brand-green;
    }
}

.btn-secondary {
    border: 1px solid $brand-green-light;
    background-color: transparent;
    font-weight: 500;
    color: $brand-green-light;
    transition: all 0.3s;
    &:hover {
        background-color: $brand-green;
        color: $white;
    }
    &.white {
        border: 1px solid $white;
        color: $white;
        transition: all 0.3s;
        &:hover {
            background-color: $white;
            color: $brand-yellow;
        }
    }
}

@include responsive(600px) {
    .btn-primary {
        line-height: 0.8rem;
        height: 45px;
        padding: 0 2rem;
        font-size: 1.5rem;
    }
}
