.s-hero {
    width: 100%;

    background-color: $white;
    padding-top: 19.1rem;

    .d-flex {
        display: flex;
    }

    .text {
        margin-bottom: 3.9rem;
        width: 50%;

        .lead {
            font-family: "Barlow", sans-serif;
            display: flex;
            align-items: center;
            color: $brand-green-light;
            font-size: 1.6rem;
            font-weight: 600;
        }

        .title {
            font-family: "Montserrat" sans-serif;
            font-size: 4.8rem;
            line-height: 110%;
            font-weight: bold;

            color: #17544e;
            max-width: 74rem;
        }
        .description {
            max-width: 50rem;

            margin-top: 3.4rem;
            margin-bottom: 4rem;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 150%;
            color: $gray-400;
            opacity: 0.7;
        }

        .infos {
            max-width: 95%;
            margin-top: 7rem;

            li {
                border-bottom: 1px solid #efefef;
                padding: 9px;
            }

            &__title {
                color: $gray-500;
                font-size: 2.5rem;
            }

            &__description {
                font-size: 1.4rem;
                color: $gray-400;
            }
        }
    }

    .image {
        margin: 0 auto;
        width: 45%;

        img {
            border-radius: 10px;
        }
    }

    @include responsive(800px) {
        .text {
            text-align: center;
            h1 {
                font-size: 4rem;
            }
            p {
                max-width: 100%;
            }
            .lead {
                align-items: center;
                justify-content: center;
            }
        }
    }

    @include responsive(640px) {
        padding-top: 12rem;
        .d-flex {
            flex-direction: column;
        }
        .text {
            width: 100%;
            .btn-primary {
                margin: 0 auto;
                width: 80%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
            }
            .title {
                font-size: 3rem;
            }
            .lead {
                span {
                    display: none;
                }
            }

            .infos {
                flex-direction: row;
            }
        }

        .image {
            width: 100%;
        }
    }
}
