.s-hero {
    width: 100%;
    padding-top: 15.1rem;
    background: linear-gradient(180deg, rgba(218, 247, 245, 0) 6.5%, #daf7f5 60.89%, rgba(218, 247, 245, 0) 98.72%);

    .d-flex {
        align-items: center;
    }

    .btn-primary {
        svg {
            transition: transform 0.3s ease;
        }

        &:hover {
            svg {
                transform: translateX(8px);
            }
        }
    }

    &__text {
        margin-bottom: 3.9rem;
        width: 50%;

        .lead {
            display: flex;
            align-items: center;
            color: $brand-green-light;
            font-size: 1.6rem;
            font-weight: 500;
        }

        .title {
            font-size: 4.5rem;
            line-height: 120%;
            font-weight: 600;

            color: $gray-500;
            max-width: 74rem;
        }

        .description {
            max-width: 50rem;
            margin-top: 3.4rem;
            margin-bottom: 4rem;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            color: $gray-400;
        }

        .infos {
            max-width: 95%;
            margin-top: 7rem;

            li {
                border-bottom: 1px solid #efefef;
                padding: 9px;
            }

            &__title {
                color: $gray-500;
                font-size: 2.5rem;
            }

            &__description {
                font-size: 1.5rem;
                color: $gray-400;
            }
        }
    }

    &__image {
        margin: 0 auto;
        width: 45%;

        img {
            border-radius: 10px;
        }
    }

    @include responsive(800px) {
        padding-top: 12rem;

        .d-flex {
            flex-direction: column;
        }

        &__text {
            text-align: center;
            width: 100%;

            .btn-primary {
                margin: 0 auto;
                // width: 80%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
            }

            .title {
                font-size: 3rem;
            }

            .description {
                max-width: 100%;
                margin: 3rem auto;
            }
            .lead {
                align-items: center;
                justify-content: center;
                span {
                    display: none;
                }
            }

            .infos {
                flex-direction: row;
            }
        }

        &__image {
            width: 100%;
        }
    }

    @include responsive(600px) {
        .btn-primary {
            width: 80%;
        }
    }
}
